html
    head

        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
            integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')

        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

        link(rel='stylesheet', href='/stylesheets/style.css')

        link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Modak&family=Scope+One&display=swap')

        script(src='/star.js')

        style
            include style.css
    body
        section.bg-white
            .container
                <!-- title -->
                .row
                    .col.text-center
                        - const hClass = ["display-4", "text-dark", "mb-0y"]
                        h1.myclass(class=hClass)  فرم نظر سنجی

                        .text-under-line.bg-danger
                        p.mt-2.text-muted ما را را در بهتر شدن کمک کنید
                <!-- end of title -->
                each data , i in json

                    .row
                    .col-6.my-3
                        - const cardClass = ["card", "card-body", "bg-primary"]
                        div.myclass(class=cardClass)
                            - const cardTitleClass = ["card-title", "text-center", "text-white"]
                            div.myclass(class=cardTitleClass)
                                h4= data.QuestionTitle
                                .rating
                                    i.fa.fa-star-o
                                    i.fa.fa-star-o
                                    i.fa.fa-star-o
                                    i.fa.fa-star-o
                                    i.fa.fa-star-o
                    .under-line-question



script
    include script.js

